extends  ../_part/_baseShell

block head
	title AppShell
	include ../_part/_header

block main
	.mui-container-fluid
		include 4-appShell.html
		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}

block footer
	include ../_part/_footer