.mui--text-left
	a.mui-btn.mui-btn--raised(href='./3-goLive/')
		| Next 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./1-helloWorld/')
		| Previous 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./0-agenda/')
		span.mui--hidden-xs.mui--hidden-sm Return to&nbsp;
		| Agenda 
