extends  ../_part/_baseShell

block head
	title The Basics
	include ../_part/_header

block main
	.mui-container-fluid
		include 2-theBasics.html 
		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}


block footer
	include ../_part/_footer