.mui--text-left
	a.mui-btn.mui-btn--raised(href='./9-comps/') 
		| Next 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./7-security/')
		| Previous 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./0-agenda/') Return to Agenda
