extends  ../_part/_baseShell

block append vars
	- var bgClass = 'page8'

block head
	title Mobile Apps
	include ../_part/_header

block main
	.mui-container-fluid
		include 8-mobile.html
		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}

block footer
	include ../_part/_footer