p 1st Edition 2017
p
p Copyright &copy; Wolfgang Gehner (wgehner@gmail.com)
p Contact hi@appthings.io for rights to reproduce this book in any form.  
p In almost all cases, code is licensed under the MIT license. Check https://cdn.jsdelivr.net/gh/topseed/topseed/LICENSE.md for exceptions.