h4 Web App Front-End Development Best Practices 2017 - A Lab Book
p new-page
include quotes.html
p new-page
include title.pug
p new-page
include copyrights.pug
//-p new-page
//-include preface.html
p new-page
h3 Table of Contents
p
h3 Part I: The Basics
h3 Part II: The Bricks and Mortar
h3 Part III: The Perspectives
include ../0-agenda/0-agenda.html
p new-page
h2 Part I: The Basics
p new-page
include ../1-helloWorld/1-helloWorld.html
p new-page
include ../2-theBasics/2-theBasics.html
p new-page
include ../3-goLive/3-golive.html
p new-page
include ../4-appShell/4-appShell.html
p new-page
h2 Part II: The Bricks and Mortar
p new-page
include ../5-amp/5-amp.html
p new-page
include ../6-read/6-read.html
p new-page
include ../7-write/7-write.html
p new-page
include ../8-security/8-security.html
p new-page
h2 Part III: The Perspectives
p new-page
include ../9-comps/9-comps.html
p new-page
include ../10-mobile/10-mobile.html