.mui--text-left
	a.mui-btn.mui-btn--raised(href='./11-ssr/') 
		| Next 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./9-comps/')
		| Previous 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./0-agenda/') Return to Agenda
