extends  ../_part/_baseShell

block head
	title Hello World
	include ../_part/_header

block main
	.mui-container-fluid
		include 1-helloWorld.html
		include _buttons 

block footer
	include ../_part/_footer
