extends  ../_part/_baseShell

block head
	title Agenda
	include ../_part/_header

block main
	.mui-container-fluid
		include 0-agenda.html

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			console.log('x') 
		}

block footer
	include ../_part/_footer
