extends  ../_part/_baseShell

block append vars
	- var bgClass = 'page0'

block head
	title Agenda
	include ../_part/_header

block main
	.mui-container-fluid
		include 0-agenda.html

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}

block footer
	include ../_part/_footer
