extends  ../_part/_baseShell

block head
	title Web Components
	include ../_part/_header

block main
	#page9
		.mui-container-fluid
			include 9-comps.html
			include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}

block footer
	include ../_part/_footer 