extends  ../_part/_baseShell

block append vars
	- var bgClass = 'page9'

block head
	title Web Components
	include ../_part/_header

block main
	.mui-container-fluid
		include:marked 9-comps.md
		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}

block footer
	include ../_part/_footer