extends  ../_part/_baseShell

block append vars
	- var bgClass = 'page3'

block head
	title Golive
	include ../_part/_header

block main
	.mui-container-fluid
		include 3-goLive.html 
		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}


block footer
	include ../_part/_footer