extends  ../_part/_baseShell

block append vars
	- var bgClass = 'page6'

block head
	title Read from API
	include ../_part/_header

block main
	.mui-container-fluid
		include 6-write.html
		include _buttons

	script.
		TS.onAppReady(UIinit)
		function UIinit() {
			initSubmenu()
		}

block footer
	include ../_part/_footer