.mui--text-left
	a.mui-btn.mui-btn--raised(href='./8-security/') 
		| Next 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./6-read/')
		| Previous 
		span.mui--hidden-xs Tutorial
	a.mui-btn(href='./0-agenda/')
		span.mui--hidden-xs.mui--hidden-sm Return to&nbsp;
		span Agenda 
