doctype html
html(lang='en-us')
	head
		base(href='/tutorial/')
		//-base(href='/docs/')
		block head

	body
		link(rel='stylesheet', href='./_sass/main.css', lazyload="1")
		include _top

		#content-wrapper
			block main

		block footer