block vars
	- var base='docs' //'docs' or 'tutorial'
	- var bgClass
doctype html
html(lang='en-us')
	head
		//-base(href='/tutorial/')  
		base(href='/'+base+'/') 
		block head

	body
		link(rel='stylesheet', href='./_sass/main.css')
		include _top

		#content-wrapper(class=bgClass)
			block main

		block footer