block vars
	- var base='tutorial' //'docs' or 'tutorial'
doctype html
html(lang='en-us')
	head
		//-base(href='/tutorial/')  
		base(href='/'+base+'/') 
		block head

	body
		link(rel='stylesheet', href='./_sass/main.css')
		include _top

		#content-wrapper
			block main

		block footer