#appbar 
	#appbar--brand(onclick='openDrawer()') &nbsp; ☰ &nbsp;
		span.mui--hidden-xs.mui--hidden-sm Topseed&trade; Tutorial
	ul#appbar--menu
		li.mui--hidden-xs
			a.mui--hidden-xs(href='./0-agenda/') Agenda
		li
			.submenu
				a
					| Foundation
					span.mui-caret
				ul.mui-dropdown__menu
					li
						a(href='./1-helloWorld/') 1: Hello World
					li
						a(href='./2-theBasics/') 2: The Basics
					li
						a(href='./3-goLive/') 3: Golive
					li
						a(href='./4-appShell/') 4: AppShell
		li
			.submenu
				a
					| Bricks+Mortar
					span.mui-caret
				ul.mui-dropdown__menu 
					li
						a(href='./5-amp/') 5: AMP and Node.js
					li
						a(href='./6-read/') 6: UI Reading from API	
					li
						a(href='./7-write/') 7: UI Writing to API
					li
						a(href='./8-security/') 8: Login Security
		li
			.submenu
				a
					| Perspectives
					span.mui-caret
				ul.mui-dropdown__menu.mui-dropdown__menu--right
					li
						a(href='./9-comps/') 9: Web Components
					li
						a(href='./10-mobile/') 10: Mobile App		
		li.mui--hidden-xs.mui--hidden-sm &nbsp;
#sidedrawer(onclick='closeDrawer()')
	#sidedrawer--brand &nbsp; ☰ Topseed&trade; Tutorials
	.mui-divider
	ul#sidedrawer--menu
		li
			a(href='./0-agenda/') Agenda
	ul#sidedrawer--menu
		li
			a(href='./1-helloWorld/') 1: Hello World
		li
			a(href='./2-theBasics/') 2: The Basics
		li
			a(href='./3-goLive/') 3: Golive
		li
			a(href='./4-appShell/') 4: AppShell
	ul#sidedrawer--menu
		li
			a(href='./5-amp/') 5: AMP and Node.js
		li
			a(href='./6-read/') 6: UI Reading from API	
		li
			a(href='./7-write/') 7: UI Writing to API
		li
			a(href='./8-security/') 8: Login Security
	ul#sidedrawer--menu
		li
			a(href='./9-comps/') 9: Web Components
		li
			a(href='./10-mobile/') 10: Mobile App						
script.
	function openDrawer() {
		$('#sidedrawer').css('transform', 'translateX(201px)')
	}
	function closeDrawer() {
		$('#sidedrawer').css('transform', 'translateX(0px)')
	}
